.fall{ background:url("fall.png") top left no-repeat; }
.qyc_r3_c2{ width:32px; height:48px; background-position:-10px -10px; }
.qyc_r3_c4{ width:32px; height:48px; background-position:-10px -68px; }
.qyc_r5_c6{ width:32px; height:48px; background-position:-10px -126px; }
.qyc_r4_c8{ width:32px; height:48px; background-position:-10px -184px; }
.qyc_r2_c10{ width:32px; height:48px; background-position:-10px -242px; }
.qyc_r2_c12{ width:32px; height:48px; background-position:-10px -300px; }
.qyc_r2_c14{ width:32px; height:48px; background-position:-10px -358px; }

