.jineng2{ background:url("jineng2.png") top left no-repeat; }
.qyc_r2_c2{ width:34px; height:40px; background-position:-10px -10px; }
.qyc_r2_c4{ width:37px; height:40px; background-position:-10px -60px; }
.qyc_r2_c6{ width:36px; height:40px; background-position:-10px -110px; }
.qyc_r2_c8{ width:40px; height:40px; background-position:-10px -160px; }
.qyc_r2_c10{ width:56px; height:40px; background-position:-10px -210px; }
.qyc_r2_c12{ width:56px; height:40px; background-position:-10px -260px; }

