.jineng{ background:url("jineng.png") top left no-repeat; }
.qyc_r2_c4{ width:34px; height:40px; background-position:-10px -10px; }
.qyc_r2_c6{ width:38px; height:40px; background-position:-10px -60px; }
.qyc_r2_c8{ width:56px; height:40px; background-position:-10px -110px; }
.qyc_r4_c2{ width:50px; height:40px; background-position:-10px -160px; }

