.run{ background:url("run.png") top left no-repeat; }
.qyc_r2_c2{ width:32px; height:40px; background-position:-10px -10px; }
.qyc_r3_c4{ width:32px; height:40px; background-position:-10px -60px; }
.qyc_r3_c6{ width:32px; height:40px; background-position:-10px -110px; }
.qyc_r3_c8{ width:32px; height:40px; background-position:-10px -160px; }
.qyc_r3_c10{ width:32px; height:40px; background-position:-10px -210px; }
.qyc_r3_c12{ width:32px; height:40px; background-position:-10px -260px; }
.qyc_r3_c14{ width:32px; height:40px; background-position:-10px -310px; }

